:root {
    --green: #008000;
    --red: #E00000;
    --bg: #000040;
}

body {
    margin: 8px;
    display: block;
    background-color: var(--bg);
    color: #B0B040;
}
header {
    position: relative;
    left:25%;
    width: 50%;
    border: 2px solid var(--green);
}
main {
    margin: auto;
    width: 60%;
}
footer {
    text-align: center;
}

div {
    margin-bottom: 2vw;
}
div::after {
    content: "";
    clear: both;
    display: table;
}

p {
    font-size: 1.1em;
    clear: none;
}
h3 {
    text-align: center;
    clear: none;
}
img {
    max-width: 15vw;
    object-fit: contain;
    float: left;
    margin-right: 2vw;
}
div:nth-of-type(2) img {
    float: right;
    margin-right: 0;
    margin-left: 2vw;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
nav a {
    text-decoration: none;
}

.funParagraph {
    color: var(--green);
}
#mainHeading {
    text-align: center;
    color: var(--red);
}